/* You can add global styles to this file, and also import other style files */
.search-description{
    color: dimgrey;
}
.search-url{
    color: rgb(57, 136, 57);
}
.search-cards{
    margin-left: 10%;
    margin-right: 30%;
}