<div id="search">
    <div class="card-body">
      <div class="col-md-9 row">
        <div class="col-md-3">
          <a href="/">
              <img src="assets/robotoscan.svg.png" class="card-img-top">
          </a>
        </div>
        <div class="col-md-9">
            <!-- <div class="form-group row">
                <input type="text" class="form-control col-md-10 col-10 margin-bootom-lg">
                <button  class="form-control btn btn-success btn-block col-md-2 col-2" type="submit"><i class="fas fa-search"></i></button>
            </div> -->
        </div>
    </div>
</div>
</div>
<hr>

<label for="" class="search-result-number"> 
    Cerca de {{resultNumbers}} resultados:
</label>
<br>


<div class="search-cards">
  <div class="search-result" *ngFor="let res of results">
    <app-search-card [result]="res"></app-search-card>
  </div>
</div>
<br>

<footer>
<label id="footer-page">
    &copy; Copyright 2019 - UMSS 
</label>
</footer>