
<br>
<div id="search" class="row">
    <div class="card-body">
      <div class="offset-3 col-md-6">
        <img src="assets/robotoscan.svg.png" class="card-img-top">
        <div class="form-group row">
              <input type="text" class="form-control col-md-10 col-10 margin-bootom-lg" [(ngModel)]="query">
              <button  class="form-control btn btn-success btn-block col-md-2 col-2" (click)="search()"><i class="fas fa-search"></i></button>
              <br>
        </div>
      </div>
    </div>  
</div>




