<a class="search-title" href="{{result.url}}">
  <h5>
      {{result.title}}
  </h5>
</a>
<label class="search-url">
    {{result.url}}
</label>
<br>
<label class="search-description">
   <b>Similitud:</b> {{result.simility}}<br>
    {{result.description | slice:0:360}}
    <a *ngIf="result.description" href="{{result.url}}" title="{{result.url}}">leer mas.</a>
</label>