<div id="search">
      <div class="card-body">
        <div class="col-md-9 row">
          <div class="col-md-3">
            <a href="/">
                <img src="assets/robotoscan.svg.png" class="card-img-top">
            </a>
          </div>
          <div class="col-md-9">
              <div class="form-group row">
                  <input type="text" class="form-control col-md-10 col-10 margin-bootom-lg" [(ngModel)]="query">
                  <button  class="form-control btn btn-success btn-block col-md-2 col-2" type="submit" (click)="search()"><i class="fas fa-search"></i></button>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3 col-3 col-sm-3">
              <button  class="form-control btn btn-gray" (click)="toggle()">Imagenes</button>
          </div>
          <div class="col-md-4 col-6 col-sm-6">
              <button  class="form-control btn btn-gray" (click)="all()">Todo los Registros</button>
          </div>
          <div class="col-md-3 col-3 col-sm-3">
              <a class="form-control btn btn-gray" href="http://127.0.0.1:5000/api/tokenizer">Tokenizar</a> 
          </div>
      </div>
  </div>
</div>
  <hr>

  <label for="" class="search-result-number"> 
      Cerca de {{resultNumbers}} resultados encontrados, en {{time}}
  </label>
  <br>

  <div *ngIf="images" class="row">
      <div *ngFor="let r of ress" class="col-md-3">
        <div *ngIf="r.image">
            <div  class="card" title="{{r.title}}">
                <a href="{{r.url}}"><img class="card-img-top" src="{{r.image}}" alt="Card image cap"></a>
            </div>
        </div>
      </div>
  </div>
  <br>
  <hr>
  <div class="search-cards">
      <div class="search-result" *ngFor="let r of ress">
        <app-search-card [result]="r"></app-search-card>
      </div>
  </div>
  <br>

<footer>
  <label id="footer-page">
      &copy; Copyright 2019 - UMSS 
  </label>
</footer>